*{
    margin:0;
    padding:0;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:#edae38;
}
body{
    font-family: 'Roboto Slab', serif;
    height:100vh;
    background-color: #302f2f;
    color:white;
}
::-webkit-scrollbar {
    display: none;
}
header, .Rezervacije{
    text-align: center;
    margin:5% 30% 6% 30%;
    letter-spacing: 1rem;
    Border-bottom: 2px solid #edae38;
}
#Paketi{
    width: 50%;
    margin-left:25%;
    padding:10px;
    border:2px solid #edae38;
}
.Slajd{
    display: none;
}
.nazad, .naprijed{
    position: absolute;
    padding:10px 15px;
    margin-top:-13.5%;
    background-color:#302f2f;
    border:1px solid black;
    color:#edae38;
}
.naprijed{
    margin:-13.5% 0 0 48%;
}
.baloni, .baloni1{
    margin:-4% 0 0 3%;
    width:20%;
    position: absolute;
}
.baloni1{
    margin: -4% 0 0 78%;
}
#RezervacijaID{
    position: relative;
    left:20%;
}
#LijevaStrana{
    float: left;
    width: 15%;
    border-right: 1px solid #edae38;
    height:250px;
}
#DesnaStrana{
    float:left;
    width: 70%;
    margin-left:5%;
}
input, select{
    display:block;
    margin-bottom: 0.5%;
    padding: 7px;
    width: 28%;
}
select{
    width:29.3%;
}
textarea{
    display:block;
    width: 24%;
    margin-top:1%;
    padding: 10px 0 40px 10px;
    position: relative;
    left:31%;
    bottom:160px;
}
.Posalji{
    width:25%;
    color:white;
    background-color:#302f2f;
    padding:15px;
    margin-top:1%;
    border: 2px solid #edae38;
    position: relative;
    bottom:160px;
    left:31%;
}
/* ZA MOBILNE UREĐAJE */

@media screen and (max-width: 800px) {
    header, .Rezervacije{
        text-align: center;
        margin:5% 25% 6% 25%;
        letter-spacing: 1rem;
        Border-bottom: 2px solid #edae38;
    }
    #Paketi{
        width: 90%;
        margin: 0 5% 0 3.5%;
        padding:10px;
        border:2px solid #edae38;
    }
    .Slajd{
        display: none;
    }
    .nazad, .naprijed{
        position: absolute;
        padding:10px 15px;
        margin-top:-25.5%;
        background-color:#302f2f;
        border:1px solid black;
        color:#edae38;
    }
    .naprijed{
        margin:-25.2% 0 0 85%;
    }
    .baloni, .baloni1{
        margin:-20% 0 0 3%;
        width:20%;
        z-index: -1;
        position: absolute;
    }
    .baloni1{
        margin: -20% 0 0 78%;
    }
    #RezervacijaID{
        position: relative;
        left:20%;
    }
    #LijevaStrana{
        float: none;
        width: 100%;
        height:230px;
        margin-left:17%;
    }
    #DesnaStrana{
        float:none;
        width: 100%;
        margin-left:0;
    }
    input, select{
        display:block;
        margin-bottom: 0.5%;
        padding: 7px;
        width: 30%;
    }
    select{
        width:32.3%;
    }
    textarea{
        display:block;
        width: 30%;
        margin-top:2%;
        padding: 16px 0 40px 10px;
        position: relative;
        left:33%;
        bottom:160px;
    }
    .Posalji{
        width:32%;
        color:white;
        background-color:#302f2f;
        padding:15px;
        margin-top:1%;
        border: 2px solid #edae38;
        position: relative;
        bottom:160px;
        left:33%;
    }
}
